<p style="color: green"><%= notice %></p>

<%= render @post %>

<hr>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <div class="comment">

    <strong>
      <%= comment.user.username.presence || comment.user.email %>
    </strong>

    <p>
      <%= comment.body %>
    </p>

    <% if comment.user == current_user %>
      <%= button_to "Delete",
            post_comment_path(@post, comment),
            method: :delete %>
    <% end %>

  </div>

  <br>
<% end %>

<div>
<% if user_signed_in? %>

  <h3>Add a Comment</h3>

  <%= form_with model: [@post, Comment.new] do |form| %>

    <div>
      <%= form.text_area :body,
            rows: 4,
            placeholder: "Write your thoughts..." %>
    </div>

    <br>

    <div>
      <%= form.submit "Post Comment" %>
    </div>

  <% end %>

<% else %>

  <p>
    Please <%= link_to "log in", new_user_session_path %>
    to comment.
  </p>

<% end %>


<div>
<% if @post.user == current_user %>

  <%= link_to "Edit this post", edit_post_path(@post) %> |

  <%= button_to "Destroy this post",
        @post,
        method: :delete %>

<% end %>

<%= link_to "Back to posts", posts_path %>
</div>
